body{width:100%;background:#000;overflow:hidden;}
.hide{display:none;}
.page{width:100%;height:100%;position:absolute;font-size:14px;text-align:center;}
.page .wrap{height:500px;}
.page-1-1 {background-color:#000;background-size:cover;}
.page-2-1 {background:url(../images/2.jpg) top center no-repeat #000;background-size:cover;}
.page-3-1 {background:url(../images/3.jpg) top center no-repeat #000;background-size:cover;}
.page-2-1 #title, .page-4-1 #title {height:auto;width:142px;position:absolute;left:50%;top:75px;margin-left:-71px;}
.page-2-1 #text1, .page-4-1 #text1 {height:auto;width:442px;position:absolute;left:50%;top:192px;margin-left:-221px;}
.page-2-1 #text2, .page-4-1 #text2 {height:auto;width:377px;position:absolute;left:50%;top:337px;margin-left:-221px;}
.page-2-1 #text3, .page-4-1 #text3 {height:auto;width:413px;position:absolute;left:50%;top:580px;margin-left:-221px;}
.page-2-1 #light2, .page-4-1 #light2 {height:auto;width:627px;position:absolute;left:50%;top:65%;margin-left:-400px;}
.page-3-1 #text4, .page-5-1 #text4 {height:auto;width:144px;position:absolute;left:50%;top:540px;margin-left:-72px;}
.page-3-1 #text5, .page-5-1 #text5 {height:auto;width:225px;position:absolute;left:50%;top:635px;margin-left:-112px;}
.page-3-1 #text6, .page-5-1 #text6 {height:auto;width:341px;position:absolute;left:50%;top:804px;margin-left:-170px;}
.page-3-1 #light3, .page-5-1#light3 {height:auto;width:640px;position:absolute;left:50%;top:-25px;margin-left:-250px;}
.page-1-1 #iconup, .page-2-1 #iconup, .page-3-1 #iconup {height:auto;width:25px;position:absolute;left:50%;top:93%;margin-left:-12px;}
.page-1-1 #btn1 {height:100px;width:100px;position:absolute;left:50%;top:824px;margin-left:-120px;}
.page-1-1 #btn2 {height:100px;width:100px;position:absolute;left:50%;top:824px;margin-left:20px;}
.fn-audio {position: fixed;top: 15px;right: 15px;z-index: 2000;width: 54px;height: 54px;text-align: center; overflow:hidden;}
.fn-audio .btn p {height: 54px;width: 54px;}
.fn-audio .btn p span {display: none;width: 54px;height: 54px; }
.fn-audio .btn p span:first-child {display: inline-block; }
.fn-audio .btn audio {height: 0;width: 0;opacity: 0; }
.css_sprite01 {background: url(../images/units-icons.png) no-repeat;background-repeat: no-repeat;background-size:108px 54px;}
.audio_open {background-position: 0 0; }
.audio_close {background-position: -54px 0; }